@{

    Layout = "_UserLayout";
}
@model IEnumerable<TblProduct>;
<main>
	<div class="hero_home version_1">
		<div class="content">
			<h3>Providence Clinic</h3>
			<p>
			
			</p>
			<form method="post" action="list.html">
				<div id="custom-search-input">
					<div class="input-group">
						<input type="text" class=" search-query" placeholder="Ex. Name, Specialization ....">
						<input type="submit" class="btn_search" value="Search">
					</div>
					<ul>
						<li>
							<input type="radio" id="all" name="radio_search" value="all" checked>
							<label for="all">All</label>
						</li>
						<li>
							<input type="radio" id="doctor" name="radio_search" value="doctor">
							<label for="doctor">Doctor</label>
						</li>
						<li>
							<input type="radio" id="clinic" name="radio_search" value="clinic">
							<label for="clinic">Clinic</label>
						</li>
					</ul>
				</div>
			</form>
		</div>
	</div>
	<!-- /Hero -->

	<div class="container margin_120_95">
		<div class="main_title">
			<h2>Discover the <strong>online</strong> appointment!</h2>
			<p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie. Sed ad debet scaevola, ne mel.</p>
		</div>
		<div class="row add_bottom_30">
			<div class="col-lg-4">
				<div class="box_feat" id="icon_1">
					<span></span>
					<h3>Find a Doctor</h3>
					<p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="box_feat" id="icon_2">
					<span></span>
					<h3>View profile</h3>
					<p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="box_feat" id="icon_3">
					<h3>Book a visit</h3>
					<p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri. In eum omnes molestie.</p>
				</div>
			</div>
		</div>
		<!-- /row -->
		<p class="text-center"><a href="list.html" class="btn_1 medium">Find Doctor</a></p>

	</div>
	<!-- /container -->

	<div class="bg_color_1">
		<div class="container margin_120_95">
			<div class="main_title">
				<h2>Most Viewed Products</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquet pellentesque nulla, eget egestas urna ullamcorper vitae.</p>
			</div>
			<div id="reccomended" class="owl-carousel owl-theme">
				@foreach(var product in Model){
				<div class="item">
					<a asp-action="ProductDetails" asp-route-id="@product.Id" asp-controller="Home">
							
						<div class="title">
								<h4>@product.ProductName<em>@product.Saleprice <span style="text-decoration:line-through;">@product.Price</span></em></h4>
						</div><img src="~/@product.Image" alt="">
					</a>
				</div>
				}
			</div>
			
			<p class="text-center"><a asp-action="ProductsPage" asp-controller="Home" asp-route-category="All" class="btn_1 medium mt-5">All Products</a></p>
			<!-- /carousel -->
		</div>
		<!-- /container -->
	</div>
	<!-- /white_bg -->

	<div class="container margin_120_95">
		<div class="main_title">
			<h2>Find your doctor or clinic</h2>
			<p>Nec graeci sadipscing disputationi ne, mea ea nonumes percipitur. Nonumy ponderum oporteat cu mel, pro movet cetero at.</p>
		</div>
		<div class="row justify-content-center">
			<div class="col-xl-4 col-lg-5 col-md-6">
				<div class="list_home">
					<div class="list_title">
						<i class="icon_pin_alt"></i>
						<h3>Search by City or Zone</h3>
					</div>
					<ul>
						<li><a href="#0"><strong>23</strong>Albany</a></li>
						<li><a href="#0"><strong>23</strong>Albuquerque</a></li>
						<li><a href="#0"><strong>23</strong>Atlanta</a></li>
						<li><a href="#0"><strong>23</strong>Baltimore</a></li>
						<li><a href="#0"><strong>23</strong>Baton Rouge</a></li>
						<li><a href="#0"><strong>23</strong>Birmingham</a></li>
						<li><a href="#0"><strong>23</strong>Boston</a></li>
						<li><a href="#0"><strong>23</strong>Buffalo</a></li>
						<li><a href="#0"><strong>23</strong>Charleston</a></li>
						<li><a href="#0">More...</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xl-4 col-lg-5 col-md-6">
				<div class="list_home">
					<div class="list_title">
						<i class="icon_archive_alt"></i>
						<h3>Search by type</h3>
					</div>
					<ul>
						<li><a href="#0"><strong>23</strong>Allergist</a></li>
						<li><a href="#0"><strong>23</strong>Cardiologist</a></li>
						<li><a href="#0"><strong>23</strong>Chiropractor</a></li>
						<li><a href="#0"><strong>23</strong>Dentist</a></li>
						<li><a href="#0"><strong>23</strong>Dermatologist</a></li>
						<li><a href="#0"><strong>23</strong>Gastroenterologist</a></li>
						<li><a href="#0"><strong>23</strong>Ophthalmologist</a></li>
						<li><a href="#0"><strong>23</strong>Optometrist</a></li>
						<li><a href="#0"><strong>23</strong>Pediatrician</a></li>
						<li><a href="#0">More....</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->


</main>